@import 'typography';
@import 'variables';
@import '../css/oldstyle';
@import 'report';
@import 'gallery';


* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: $background-color;
    color: $color;
}

h2,
h3,
h1,
h6 {
    color: $color;
}

a {
    color: $accent-colors;
}

a:hover {
    color: $hover-color;
}

.header {
    background-color: $accent-color;
    padding: 30px 0;
    border-bottom: 2px solid $typograph-color;
    padding: 40px;
}


.nav a {
    color: $accent-colors;
    line-height: 2;
}

.nav a:hover {
    color: $background-color;
}

.nav .active a {
    color: $accent-colors;
    font-style: bold;
    text-decoration: underline;
}

.footer {
    background-color: $accents-color;
    border-top: 8px double $background-color;
    
    .social {
        letter-spacing: 10px;
    }

    a:hover {
        color: $accent-colors;
    }
}

.logo {
    img {
        border: 5px solid $background-color;
        margin: 15px;
    }
}
