@import 'typography';
@import 'variables-dark';
@import '../css/oldstyle';
@import 'report-dark';
@import 'gallery';

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: $background-color;
    color: $color;
}

h2,
h3,
h1,
h6 {
    color: $color;
}

a {
    color: $color;
}

a:hover {
    color: $hover-color;
}

.header {
    background-color: $accent-color;
    padding: 30px 0;
    border-bottom: 2px solid $accents-color;
    padding: 40px;
}

.nav a {
    color: $typograph-color;
}

.nav a,
.nav-toggle {
    color: $typograph-color;
}

.nav a:hover {
    color: $background-color;
}

.footer {
    background-color: $accents-color;
    border-top: 8px double $background-color;
    
    .social {
        letter-spacing: 10px;
    }

    a:hover {
        color: $background-color;
    }
}

.logo {
    img {
        border: 5px solid $background-color;
        margin: 15px;
    }
}
