$background-color: #4b353a;
$accent-color: #342125;
$accents-color: #1e1b24;
$typograph-color: #cecbd1;
$color: #cecbd1;
$hover-color: #ebdbde;



// $background-color: rgb(58, 58, 58);
// $accent-color: rgb(34, 34, 34);
// $accents-color: rgb(28, 28, 28);
// $typograph-color: rgb(255, 255, 255);
// $color: rgb(237, 237, 237);
// $hover-color: rgb(138, 138, 138);
