$background-color: rgb(255, 139, 139);
$accent-color: #8c011c;
$accents-color: #fa6b88;
$typograph-color: #7854c7;
$color: #7735da;
$hover-color: #d71b3e;
$hovers-color: #7adc34;
$accent-colors: #6c37d7;
