$background-color: rgb(255, 255, 255);
$accent-color: #c2949d;
$accents-color: #755259;
$typograph-color: #5c5767;
$color: #3e3a44;
$hover-color: #ebdbde;
$hovers-color: #e6e6e6;
$accent-colors: #35303f;
